In [21]:
print('hello')

hello

# comments

In [22]:
salary=2340230

In [5]:
print("value in salary",salary)

value in salary 2340230

In [6]:
print(type(salary))

<class 'int'>

In [7]:
counter=0

In [13]:
while(counter<=5):
    print(counter)
    counter+=1

In [11]:
for i in range(1,5):
    print(i)

1
2
3
4

# Lists

In [14]:
mylist=[34,5,2,45,6,6]
print(mylist)
print(type(mylist))
print(len(mylist))

[34, 5, 2, 45, 6, 6]
<class 'list'>
6

In [15]:
mylist.append(23)
print(mylist)

[34, 5, 2, 45, 6, 6, 23]

In [20]:
mylist.sort()

In [23]:
print(mylist)

[2, 5, 6, 6, 23, 34, 45]

# Tupples

In [24]:
mTuple = (11,)   # tuple with single element

print(mTuple)
print(type(mTuple))

(11,)
<class 'tuple'>

In [26]:
mTuple[0]=(12)

TypeError: 'tuple' object does not support item assignment

# Dictionaries

In [27]:
empDict = {'eid':100,'name':'steven','job':'sales'}

print("Dictionary ", empDict)
print("Only Keys", empDict.keys())
print("Only values", empDict.values())
print("Value at key name", empDict['name'])

Dictionary  {'eid': 100, 'name': 'steven', 'job': 'sales'}
Only Keys dict_keys(['eid', 'name', 'job'])
Only values dict_values([100, 'steven', 'sales'])
Value at key name steven