In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("BankCustomer.csv",header=None,names=['custid','custName',"balance"])

In [12]:
df

   custid custName  balance
0     100   Steven  24000.0
1     101    Allan      NaN
2     102      NaN  14000.0
3     103      Lee  35000.0
4     104      NaN  15000.0
5     105    Neena      NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   custid    6 non-null      int64
 1   custName  4 non-null      object
 2   balance   4 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 272.0+ bytes