# Variable Declaration

In [9]:
salary = 24000.69             # python does type inferencing

In [10]:
print("Value in salary", salary)
print("Datatype of salary", type(salary))

Value in salary 24000.69
Datatype of salary <class 'float'>

In [17]:
bonus = 5000
indicator = True
name = 'Steven'

print(bonus,indicator,name)
print(type(bonus), type(indicator),type(name))

5000 True Steven
<class 'int'> <class 'bool'> <class 'str'>

In [19]:
num1 = 10
num2 = 20

result = ((num1+200)+(num2+300))*5
print("Calculation Result ", result)

result = (num1!=num1) and (num1<num2)
print("Comparision Result", result)

Calculation Result  2650
Comparision Result False

# While loop

In [24]:
counter = 0

while(counter<=10):
    print(counter)
    counter += 1                      
    
print("----------End OF Loop--------")

0
1
2
3
4
5
6
7
8
9
10
----------End OF Loop--------

In [25]:
counter = 0

while(counter<=10):
    print(counter)
    counter += 1                      
    print("----------End OF Loop--------")

0
----------End OF Loop--------
1
----------End OF Loop--------
2
----------End OF Loop--------
3
----------End OF Loop--------
4
----------End OF Loop--------
5
----------End OF Loop--------
6
----------End OF Loop--------
7
----------End OF Loop--------
8
----------End OF Loop--------
9
----------End OF Loop--------
10
----------End OF Loop--------

# for loop

In [ ]:
"""
range(start,stop,step)

start   default 0
stop    mandatory , upper  bounds are not included
step    default 1, increment by 
"""

In [ ]:

for i in range(1,10):              # start  1   stop 10   step  1
    print(i)

In [ ]:
for i in range(5):              # start  0   stop 5   step  1
    print(i)

In [ ]:
for i in range(10,100,10):              # start  10   stop 100   step  10
    print(i)

In [ ]:
for i in range(10,0,-1):              # start  10   stop 0   step  -1
    print(i)

# List

In [28]:
mList = [11,22,33,44,55,66,77,88,99]

print("Values", mList)
print("Datatype", type(mList))
print("Num of elements", len(mList))

Values [11, 22, 33, 44, 55, 66, 77, 88, 99]
Datatype <class 'list'>
Num of elements 9

In [29]:
print(mList[0])
print(mList[1])
print(mList[3])
print(mList[5])

11
22
44
66

In [30]:
for i in mList:
    print(i)

11
22
33
44
55
66
77
88
99

In [31]:
mList.append(5)
print(mList)

[11, 22, 33, 44, 55, 66, 77, 88, 99, 5]

In [32]:
mList.append(97)
print(mList)

[11, 22, 33, 44, 55, 66, 77, 88, 99, 5, 97]

In [33]:
mList.sort()
print(mList)

[5, 11, 22, 33, 44, 55, 66, 77, 88, 97, 99]

In [34]:
mList.sort(reverse=True)
print(mList)

[99, 97, 88, 77, 66, 55, 44, 33, 22, 11, 5]

# Tuples

In [39]:
mTuple = (11,)   # tuple with single element

print(mTuple)
print(type(mTuple))

(11,)
<class 'tuple'>

# Dictionary

In [42]:
empDict = {'eid':100,'name':'steven','job':'sales'}

print("Dictionary ", empDict)
print("Only Keys", empDict.keys())
print("Only values", empDict.values())
print("Value at key name", empDict['name'])

Dictionary  {'eid': 100, 'name': 'steven', 'job': 'sales'}
Only Keys dict_keys(['eid', 'name', 'job'])
Only values dict_values([100, 'steven', 'sales'])
Value at key name steven

In [44]:
for i in empDict:
    print(i,empDict[i])

eid 100
name steven
job sales

In [45]:
print(empDict)

{'eid': 100, 'name': 'steven', 'job': 'sales'}

In [46]:
empDict["salary"] = 24000.89
print(empDict)

{'eid': 100, 'name': 'steven', 'job': 'sales', 'salary': 24000.89}

# Module

In [57]:
# import color
import color as c

In [58]:
# color.red()
c.red()

You Choose Red Color

In [55]:
# from color import *
from color import blue,green

In [51]:
blue()

You Choose Blue Color

In [56]:
green()

You Choose Green Color