In [1]:
import numpy as np

In [2]:
print("Numpy Package Version", np.__version__)

Numpy Package Version 1.20.1

In [7]:
myList = list(range(0,10000000))
myArray = np.arange(0,10000000)

print("mArray ",type(myArray))
print("mList ",type(myList))

mArray  <class 'numpy.ndarray'>
mList  <class 'list'>

In [8]:
%time for i in range(10): newList = [ x*2 for x in myList]

CPU times: user 2.28 s, sys: 976 ms, total: 3.25 s
Wall time: 3.27 s

In [9]:
%time for i in range(10): newArray = myArray*2

CPU times: user 83.3 ms, sys: 91.2 ms, total: 175 ms
Wall time: 174 ms

# Numpy Array Operations

In [11]:
mList = [11,22,33,44,55,66,77,88,99]

arr = np.array(mList)

In [13]:
print("Values in Array", arr)
print("Datatypes",type(arr))
print("Dimension of Array",arr.ndim)
print("Size of each Dimension", arr.shape)
print("Lenght of array", len(arr))

Values in Array [11 22 33 44 55 66 77 88 99]
Datatypes <class 'numpy.ndarray'>
Dimension of Array 1
Size of each Dimension (9,)
Lenght of array 9

In [14]:
arr*2

array([ 22,  44,  66,  88, 110, 132, 154, 176, 198])

In [15]:
arr/100

array([0.11, 0.22, 0.33, 0.44, 0.55, 0.66, 0.77, 0.88, 0.99])

In [16]:
arr-9

array([ 2, 13, 24, 35, 46, 57, 68, 79, 90])

In [17]:
arr*arr

array([ 121,  484, 1089, 1936, 3025, 4356, 5929, 7744, 9801])

In [18]:
np.round(arr/100,1)

array([0.1, 0.2, 0.3, 0.4, 0.6, 0.7, 0.8, 0.9, 1. ])

In [19]:
print("Max", arr.max())
print("Min", arr.min())
print("Avg", arr.mean())
print("Sum", arr.sum())

Max 99
Min 11
Avg 55.0
Sum 495

# Types of Values in Arrays

In [22]:
# boolean -> integer -> float -> string

In [24]:
mArr = np.array([11,22,True,False,31.34,'oracle',True,33,44])

print("Array Values",mArr)
print("Datatype of mArr", type(mArr))
print("Datatype of Values in mArr", mArr.dtype)

Array Values ['11' '22' 'True' 'False' '31.34' 'oracle' 'True' '33' '44']
Datatype of mArr <class 'numpy.ndarray'>
Datatype of Values in mArr <U32

In [25]:
arr >50 # returns boolean array satifying the condition

array([False, False, False, False,  True,  True,  True,  True,  True])

In [27]:
np.where(arr>40)

(array([3, 4, 5, 6, 7, 8]),)

In [29]:
id(arr)

135437655103216

In [30]:
id(arr>50)

135435986729456

# Finance Data Analysis

In [34]:
# input data
revenue = [14574.49, 7606.46, 8611.41, 9175.41, 8058.65, 8105.44, 11496.28, 9766.09, 10305.32, 14379.96, 10713.97, 15433.50]
expenses = [12051.82, 5695.07, 12319.20, 12089.72, 8658.57, 840.20, 3285.73, 5821.12, 6976.93, 16618.61, 10054.37, 3803.96]

revenue = np.array(revenue)
expenses = np.array(expenses)

print("Shape of Array revenue", revenue.shape)
print("Shape of Array expenses",expenses.shape)

Shape of Array revenue (12,)
Shape of Array expenses (12,)

In [35]:
# monthly profit for each months
monthly_profit=revenue-expenses
print(monthly_profit)

[ 2522.67  1911.39 -3707.79 -2914.31  -599.92  7265.24  8210.55  3944.97
  3328.39 -2238.65   659.6  11629.54]

In [36]:
# Calculate Profit After Tax, total amount 30%  on monthly profit for all months
PAT=monthly_profit*.7
print(PAT)

[ 1765.869  1337.973 -2595.453 -2040.017  -419.944  5085.668  5747.385
  2761.479  2329.873 -1567.055   461.72   8140.678]

In [41]:
# Calculate Profit Margin, PAT divided by revenue, calculate as percentage with 0 decimals
profit_margin=PAT/revenue*100
print(np.round(profit_margin).astype('int'))

[ 12  18 -30 -22  -5  63  50  28  23 -11   4  53]

# Slicing

In [42]:
letters = np.array(['a','b','c','d','e','f','g','h','i','j'])
letters

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='<U1')

In [43]:
letters[2:8]

array(['c', 'd', 'e', 'f', 'g', 'h'], dtype='<U1')

In [45]:
letters[:]

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='<U1')

In [46]:
letters[::]

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='<U1')

In [47]:
letters[::-1]

array(['j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a'], dtype='<U1')

In [48]:
letters[::3]

array(['a', 'd', 'g', 'j'], dtype='<U1')

In [56]:
letters[1:8:2]

array(['b', 'd', 'f', 'h'], dtype='<U1')

In [57]:
letters[8:1:-2]

array(['i', 'g', 'e', 'c'], dtype='<U1')

In [59]:
letters[:-1] #everything except last, start from 0 till -1 with step of 1

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'], dtype='<U1')

In [61]:
letters[-5:]#last 5 values , start at -5, till last,step is 1

array(['f', 'g', 'h', 'i', 'j'], dtype='<U1')

In [62]:
letters[0]           # returns value at index 0 as string type variable

'a'

In [63]:
print(type(letters))

<class 'numpy.ndarray'>

In [64]:
letters[0:1]         # returns value at index 0 as numpy array

array(['a'], dtype='<U1')

In [66]:
arr = np.arange(20)  # 1d array
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [67]:
m1 = np.reshape(arr, (5,4))
m1

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [68]:
m1[0:3,0:5]

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [70]:
zArr=np.zeros((3,6),dtype=int)
zArr

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0]])

In [71]:
rArr=np.random.randn(6,3)
rArr

array([[ 0.75991981, -0.85595015,  1.06084321],
       [-0.07533841, -1.4154668 , -0.99392723],
       [ 2.13880852, -0.51982947, -0.75156163],
       [-0.29599775,  0.72687688,  0.20976475],
       [ 1.25005006,  0.87460029,  0.18838675],
       [-0.73617627, -1.43150503,  0.89987324]])

In [72]:
rArr.T #Transpose , convert rows to columns and vice versa.

array([[ 0.75991981, -0.07533841,  2.13880852, -0.29599775,  1.25005006,
        -0.73617627],
       [-0.85595015, -1.4154668 , -0.51982947,  0.72687688,  0.87460029,
        -1.43150503],
       [ 1.06084321, -0.99392723, -0.75156163,  0.20976475,  0.18838675,
         0.89987324]])

In [75]:
arr=np.arange(15).reshape(5,3)
arr.T

array([[ 0,  3,  6,  9, 12],
       [ 1,  4,  7, 10, 13],
       [ 2,  5,  8, 11, 14]])